.simple-todos-app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc2a0;
  min-height: 100vh;
}

.simple-todos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  width: 90%;
  padding: 24px;
  margin: 48px 0px;
  max-width: 1110px;
}

.heading {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 800;
  color: #ff8542;
  margin: 12px 0px 16px;
}

.todos-list {
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .simple-todos-container {
    padding: 48px;
    margin: 96px 0px;
  }

  .heading {
    font-size: 48px;
    margin: 32px 0px 48px;
  }
}
